grpc:
    address: "127.0.0.1:9001
log:
    level: "debug"
database:
    type: "postgres"
    host: "0.0.0.0"
    port: 5433
    username: "root"
    password: "secret"
    database: lifeat_order_service_psql
kafka:
    brokers:
        - 127.0.0.1:9092
    client_id: "order_service"
mail:
    email_sender_name:
    email_sender_address:
    email_sender_password:
    